<div class="tree">
  <h2>Recursive Tree</h2>
  <button (click)="addNode()">Add Node</button>
  <ng-container *ngTemplateOutlet="recursiveTree; context: { nodes: nodes, parentIndex: '1' }"></ng-container>
</div>


<ng-template #recursiveTree let-nodes="nodes" let-parentIndex="parentIndex">
  <ul class="nodes" *ngIf="nodes && nodes.length > 0">
    <li *ngFor="let node of nodes; let i = index">
      <div class="node">
        {{ getNodeIndex(parentIndex, i) }} - {{ node.name }}
        <button *ngIf="node.children.length === 0" (click)="addNode(node)">Add Child</button>
      </div>
      <ng-container *ngTemplateOutlet="recursiveTree; context: { nodes: node.children, parentIndex: parentIndex + '.' + (i + 1) }"></ng-container>
    </li>
  </ul>
</ng-template>
